  <div class="masternode" id="masternodes">
    <div class="container">
      <h3 class="text-center">Masternodes - Hydra</h3>

      <div class="alllist">
        <div class="square">
          <div class="card-body">
            <table class="table table-hover table-sm text-center">
              <thead>
                <th scope="col">Tier</th>
                <th scope="col">Collateral</th>
              </thead>
              <tbody>
                <tr *ngFor="let t of mns.tiers">
                  <td>{{ t.tier }}</td>
                  <td>{{ t.tier * 10000 }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      
        <div class="square">
            <div class="card-body">
              <p class="text-center">
              The daily reward is approximate.
              That it was such should not be added or reduced the number of MN,
              MN should be 24h in the network and the speed of the block should be 10 seconds.
              </p>

              <div class="text-center">
              <a class="btn btn-info" href="https://docs.genom.tech/masternode-genom-hydra-eng">Masternodes overview</a>
              <br/>
              <br/>
              <a class="btn btn-info" href="https://docs.genom.tech/how-to-install-masternode-eng">Installation manual</a>
              <br/>
              <br/>
              <a class="btn btn-info" href="https://dashboard.genom.tech">Dashboard</a>
              </div>
            </div>
        </div>

        <div class="square">
          <div class="card-body">
                 <table class="table table-hover table-sm text-center">
                <thead>
                  <th scope="col">Tier</th>
                  <th scope="col">Amount</th>
                  <th scope="col">Daily reward</th>
                </thead>
                <tbody>
                  <tr *ngFor="let t of mns.tiers;">
                    <td>{{ t.tier }}</td>
                    <td>{{ t.amount }}</td>
                    <td>{{ mns.rewards[t.tier - 1].reward * 6500 | number: '.5-5' }}</td>
                  </tr>
                </tbody>
              </table>

          </div>
        </div>
      </div>
    </div>
  </div>
