<div class="wallet" id="exchanges">
    <div class="container">
      <h3 class="title">Exchanges</h3>
      <div class="text-center">
        Our markets as of today
        <br/>
        <a href="https://www.coingecko.com/en/coins/genom" style="font-size: 10px">Powered by CoinGecko</a>
      </div>

      <div class="alllist">

        <div class="square text-center">
          <div class="card-header">
            Price in USD
          </div>
          <div class="card-body">
            <span style="font-size: 26px">{{ market.market_data?.current_price.usd | number: '.8-8' }}</span>
          </div>
        </div>

        <div class="square text-center">
          <div class="card-header">
            Total volume in USD
          </div>
          <div class="card-body">
            <span style="font-size: 26px">{{ market.market_data?.total_volume.usd | number: '.8-8' }}</span>
          </div>
        </div>
        
        <div class="square text-center">
          <div class="card-header">
            24H Change %
          </div>
          <div class="card-body">
            <span style="font-size: 26px">{{ market.market_data?.price_change_percentage_24h | number: '.2-2' }}</span>
          </div>
        </div>

      </div>

      <br/>
      <div class="text-center">
        We are currently listed on the following exchanges

        <br/>
        <br/>
        <img src="/assets/images/finexbox.png" width="50" height="50"/>
        <a href="https://www.finexbox.com/Home/Orders/market/pair/GENOM-BTC.html">FINEXBOX</a>
      </div>
    </div>
</div>    
