  <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
    <div class="container Header-content" >
      <a class="navbar-brand" href="/">
        <img src="/assets/images/logo.svg" width="143" height="60" alt="genom-logo"/>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="#roadmap">Roadmap</a></li>
          <li class="nav-item"><a class="nav-link" href="https://explorer.genom.tech/">Explorer</a></li>
          <li class="nav-item"><a class="nav-link" href="https://dashboard.genom.tech/">Dashboard</a></li>
          <li class="nav-item"><a class="nav-link" href="https://docs.genom.tech/">Documentation</a></li>
          <li class="nav-item"><a class="nav-link" href="#wallet">Wallets</a></li>
          <li class="nav-item"><a class="nav-link" href="#masternodes">Masternodes</a></li>
          <li class="nav-item"><a class="nav-link" href="#exchanges">Exchanges</a></li>
          <li class="nav-item"><a class="nav-link" href="#mining">Mining</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="main">
    <div class="main-content container">
      <div class="main-left">
        <h2>Cryptocurrency
        <br>
        and Multi-level Masternodes
        </h2>
        <p>
          <span>
            Genom is a decentralized open source crypto platform based on the go-Ethereum source code with its own cryptocurrency ‘GENOM’. The main goal of Genom is to create a decentralized secure network with support for a multi-level masternode(Hydra), a self-supporting and self-financing system.
          </span>
        </p>
        <div class="butt">
          <a href="https://docs.genom.tech/whitepaper"><button type="button" class="btn btn-danger">WHITE PAPER</button></a>
          <a style="padding-left: 10px;" href="#masternodes"><button type="button" class="btn btn-outline-danger">MASTERNODE</button></a>
        </div>
      </div>
      <div class="main-right">
        <img src="/assets/images/hydra.png" width="325" height="390" class="main-right-p"/>
      </div>
    </div>
  </div>

<div class="roadmap" id="roadmap">
    <div class="container">
    <h3 class="title">Roadmap</h3>
    <hr>
    <div class="road-list">
      <div class="row">
        <div class="col-md-12">
          <div class="main-timeline8">
            <div class="timeline">
              <span class="timeline-icon"></span>
              <span class="year">Q1 2018</span>
              <div class="timeline-content">
                <p class="description">
				
                  Mining launch (12.02.2018)
                  <br/>
                  Website launch
                  <br/>
                  Web-wallet launch
                  <br/>
                  Explorer launch
				 
                </p>
              </div>
            </div>            
            <div class="timeline">
              <span class="timeline-icon"></span>
              <span class="year">Q3-Q4 2018</span>
              <div class="timeline-content">
                <p class="description">
                  Exchange listing
                  <br/>
                  Creation of the Masternode platform “Hydra”
                  <br/>
                  Explorer update
                  <br/>
                  Website update
                  <br/>
                  Hardfork at block 1469000
                  <br/>
                  Design update
				  <br/>
				  Dashboard create
                </p>
              </div>
            </div>
            <div class="timeline">
              <span class="timeline-icon"></span>
              <span class="year">Q1-Q2 2019</span>
              <div class="timeline-content">
                <p class="description">
				IPFS research for organizing a decentralized warehouse
                  
                  <br/>
                  Transfer wallet and explorer to a decentralized storage solution
                  <br/>
					Development and implementation of decentralized storage (Sea of Hydra) based on masternode platform (Hydra)			  
                  <br/>
                </p>
              </div>
            </div>
            <div class="timeline">
              <span class="timeline-icon"></span>
              <span class="year">Q3-Q4 2019</span>
              <div class="timeline-content">
                <p class="description">
                  Development of dApps on Genom smart-contracts
                  <br/>
				  Development of decentralized multi-platform Genom wallet
                  <br/>
                  <br/>
                  <br/>
                </p>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="wallet" id="wallet">
    <div class="container">
      <h3 class="title">Wallets</h3>
        <div class="alllist">
          <div class="swallet square">
            <figure>
              <img src="/assets/images/linux.png"/>
            </figure>
            <span>Linux</span>
            <div class="swallet-list">
              <a href="https://github.com/genom-project/genom/releases">GETH</a>
            </div>
          </div>
          <div class="swallet square">
            <figure>
              <img src="/assets/images/www.png"/>
            </figure>
            <span>Web</span>
            <div class="swallet-list">
              <a href="https://wallet.genom.tech/">Official</a>
            </div>
          </div>
        </div>
    </div>
</div>
  <app-masternodes></app-masternodes>
  <app-exchanges></app-exchanges>
<div class="mining" id="mining">
    <div class="container">
      <h3 class="title">Mining</h3>
      <div class="alllist">

        <div class="swallet square">
          <img alt="smartincom" src="/assets/images/smartincom.png" width="50" height="50"/>
          <a href="http://genom.smartincom.com/">Smartincom</a>
          <p>PPLNS 0.5% fee</p>
        </div>

        <div class="swallet square">
          <img alt="comining" src="/assets/images/comining.png" width="50" height="50"/>
          <a href="https://comining.io/">Comining</a>
          <p>SOLO/PPLNT/GROUP 1% fee</p>
        </div>

        <div class="swallet square">
          <img alt="minerpool" src="/assets/images/minerpool.png" width="50" height="50"/>
          <a href="http://genom.minerpool.net/">MINERPOOL</a>
          <p>PPSW 1% fee</p>
        </div>

        <div class="swallet square">
          <fa-icon [icon]="faSpaceShuttle" class="fa-3x"></fa-icon>
          <a href="http://gen.crazypool.org/">Crazypool</a>
          <a href="http://solo-gen.crazypool.org/#/">Crazypool SOLO</a>
          <p>SOLO/PPSW 1% fee</p>
        </div>

        <div class="swallet square">
          <img alt="cryptomining" src="/assets/images/mining.png" width="50" height="50"/>
          <a href="http://genom.crypto-mining-pool.com/#/">crypto-mining-pool</a>
          <p>PROP 1% fee</p>
        </div>

        <div class="swallet square">
          <img alt="europool" src="/assets/images/europool.png" width="140" height="70"/>
          <a href="https://genom.europool.me/">Genom European Pool</a>
          <p>PPLNS 0.4% fee</p>
        </div>

        <div class="swallet square">
          <img alt="wattpool" src="/assets/images/mining.png" width="50" height="50" />
          <a href="https://genom.wattpool.net">Genom WattPool</a>
          <p>PROP 1% fee</p>
        </div>

        <div class="swallet square">
          <img alt="coinmining" src="/assets/images/coinmining.png" width="50" height="50" />
          <a href="http://coinmining.ddns.net/genom/">Genom Coinmining</a>
          <p>PPLNS 0.5% fee</p>
        </div>

      </div>
    </div>
</div>
<div class="soc">
    <div class="wallet-content container">
      <div class="alllist">
        <div class="swallet">
          <p>&copy; 2018 Genom</p>
        </div>
        <div class="sot"></div>
        <div class="sot">
          <p>
            <a href="https://github.com/genom-project"><img class="social" src="https://2sxc.org/Portals/0/adam/Content/4IqBjx3pXEC7a7-fVX2GBQ/Image/github-logo.png"/></a>
            &nbsp;
            <a href="https://bitcointalk.org/index.php?topic=2851709.0"><img class="social" src="https://inoxdesigners.com/wp-content/uploads/2016/09/moneda-bitcoin.png"/></a>
            &nbsp;
            <a href="https://discord.gg/Hk6gdqQ"><img class="social" src="https://vignette.wikia.nocookie.net/ark-survival-evolved/images/0/01/Discord_Icon.png/revision/latest?cb=20170602171324&path-prefix=ru"/></a>
            &nbsp;
            <a href="https://t.me/genomt"><img class="social" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/82/Telegram_logo.svg/1200px-Telegram_logo.svg.png"/></a>
            &nbsp;
            <a href="https://twitter.com/genom_tech"><img class="social" src="https://upload.wikimedia.org/wikipedia/ru/thumb/9/9f/Twitter_bird_logo_2012.svg/1200px-Twitter_bird_logo_2012.svg.png"/></a>
            &nbsp;
            <a href="https://medium.com/@genom_tech"><img class="social" src="https://medium.com/icons/monogram-mask.svg"/></a>
          </p>
        </div>
      </div>
    </div>
  </div>
