.body{
margin: 0;
background-color: #f5f5f5;
}
.main {
 padding-top: 180px;
background-color: #fff;
box-shadow: 0 0 14px 0 rgba(171,171,171,0.53);
}

.wallet {
  padding-bottom: 40px;
  padding-top: 40px;
  background-color: #fff;
  box-shadow: 0 0 14px 0 rgba(171, 171, 171, 0.53);
}

.masternode {
  padding-bottom: 40px;
  padding-top: 40px;
  background-color: #f5f5f5;
}
.mining {
  padding-bottom: 40px;
  padding-top: 40px;
  background-color: #f5f5f5;
}
.soc{
	  padding-bottom: 40px;
  padding-top: 40px;
  background-color: #fff;
  box-shadow: 0 0 14px 0 rgba(171, 171, 171, 0.53);
}

.roadmap {
  padding-bottom: 20px;
  background-color: #f5f5f5;
}

.sot {
  display: initial;
  padding: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  display: grid;
  justify-items: center;
  -ms-flex-line-pack: start;
  -webkit-align-content: flex-start;
  align-content: flex-start;
}

.social {
	height: 30px;
}

@media only screen and (min-device-width: 1001px) {
  .main-content {
	  grid-template-columns: 1.5fr 2fr;
	  display: grid;
  }

  .roadmap-content {
    display: grid;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -o-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    grid-template-columns: 100%;
    grid-template-columns: 70%;
  }

  .alllist {
    margin-top: 50px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    display: grid;
  }

  .master {
    margin-top: 50px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    display: grid;
  }

  .tdet {
    display: grid;
    grid-gap: 15px;
    text-align: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -o-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-device-width: 1000px) {
  .main-right { 
	  display: none; 
	}

  .main-left{
    padding-bottom: 20px;
	}

  .main-content {
	  grid-template-columns: 1.5fr 2fr;
	}

  .roadmap-content {
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -o-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    grid-template-columns: 100%;
    grid-template-columns: 70%;
  }

  .wallet-list {
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 50px;
    grid-gap: 30px;
    display: grid;
  }

  .master {
    margin-top: 50px;
    grid-gap: 30px;
    display: grid;
  }

  .tdet {
    display: grid;
    grid-gap: 15px;
    text-align: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -o-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr;

  }
  .butt{
    text-align: center;
  }
}

.main-right-p {
    width: 50%;
    position: relative;
    margin-left: 150px;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
}

.title{
	margin-top: 20px;
	text-align: center;
	font-size: 36px;
	font-weight: 500;
	line-height: 1.05;
	color: #163f59;
}

.SectionHeading-divider {
  width: 40px;
  border-color: #c0392b;
  margin: 23px auto;
  border-style: solid;
}

@media (max-width: 62em) {
	.navbar-nav {
		padding-top: .425rem;
		padding-left: 0.75rem;
	}
	.navbar-nav .nav-item {
		float: none;
	}
	.navbar-brand {
		float: right;
	}
	.navbar-brand,
	.navbar-nav .nav-item {
		display: block;
	}
	.navbar-nav .nav-item + .nav-item {
		margin-left: 0;
	}
	.dropdown-menu {
		position: relative;
		float: none;
	}
}

.Header-content {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 0;
}

.swallet {
  padding: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  display: grid;
  justify-items: center;
  -ms-flex-line-pack: start;
  -webkit-align-content: flex-start;
  align-content: flex-start;
}

.square {
  border-radius: 8px;
  -webkit-box-shadow: 0 0 14px 0 rgba(198,202,206,0.3);
  box-shadow: 0 0 14px 0 rgba(198,202,206,0.3);
  background-color: #fff;
}

.tet1 {
  font-size: 26px;
  font-weight: 500;
  line-height: 1.05;
  color: #e61d27;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 0px;
}

.tet2 {
  margin-top: 10px;
  font-size: 30px;
  line-height: 1.05;
  color: #1661a1;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 20px;
}

.main-timeline8{overflow:hidden;position:relative}
.main-timeline8:after,.main-timeline8:before{content:"";display:block;width:100%;clear:both}
.main-timeline8:before{content:"";width:3px;height:100%;background:#d6d5d5;position:absolute;top:30px;left:50%}
.main-timeline8 .timeline{width:50%;float:left;padding-right:30px;position:relative}
.main-timeline8 .timeline-icon{width:32px;height:32px;border-radius:50%;background:#fff;border:3px solid #e61d27;position:absolute;top:5.5%;right:-17.5px}
.main-timeline8 .year{display:block;padding:10px;margin:0;font-size:30px;color:#fff;border-radius:0 50px 50px 0;background:#e61d27;text-align:center;position:relative}
.main-timeline8 .year:before{content:"";border-top:35px solid #f59c8b;border-left:35px solid transparent;position:absolute;bottom:-35px;left:0}
.main-timeline8 .timeline-content{padding:30px 20px;margin:0 45px 0 35px}
.main-timeline8 .title{font-size:19px;font-weight:700;color:#504f54;margin:0 0 10px}
.main-timeline8 .description{font-size:14px;color:#000;margin:0;text-align: center;}
.main-timeline8 .timeline:nth-child(2n){padding:0 0 0 30px}
.main-timeline8 .timeline:nth-child(2n) .timeline-icon{right:auto;left:-14.5px}
.main-timeline8 .timeline:nth-child(2n) .year{border-radius:50px 0 0 50px;background:#e61d27}
.main-timeline8 .timeline:nth-child(2n) .year:before{border-left:none;border-right:35px solid transparent;left:auto;right:0}
.main-timeline8 .timeline:nth-child(2n) .timeline-content{text-align:right;margin:0 35px 0 45px}
.main-timeline8 .timeline:nth-child(2){margin-top:170px}
.main-timeline8 .timeline:nth-child(odd){margin:-175px 0 0}
.main-timeline8 .timeline:nth-child(even){margin-bottom:80px}
.main-timeline8 .timeline:first-child,.main-timeline8 .timeline:last-child:nth-child(even){margin:0}
.main-timeline8 .timeline:nth-child(2n) .timeline-icon{border-color:#e61d27}
.main-timeline8 .timeline:nth-child(2n) .year:before{border-top-color:#e61d27}
.main-timeline8 .timeline:nth-child(3n) .timeline-icon{border-color:#e61d27}
.main-timeline8 .timeline:nth-child(3n) .year{background:#e61d27}
.main-timeline8 .timeline:nth-child(3n) .year:before{border-top-color:#e61d27}
.main-timeline8 .timeline:nth-child(4n) .timeline-icon{border-color:#e61d27}
.main-timeline8 .timeline:nth-child(4n) .year{background:#e61d27}
.main-timeline8 .timeline:nth-child(4n) .year:before{border-top-color:#e61d27}

@media only screen and (max-width:767px){
  .main-timeline8{overflow:visible}
  .main-timeline8:before{top:0;left:0}
  .main-timeline8 .timeline:nth-child(2),.main-timeline8 .timeline:nth-child(even),.main-timeline8 .timeline:nth-child(odd){margin:0}
  .main-timeline8 .timeline{width:100%;float:none;padding:0 0 0 30px;margin-bottom:20px!important}
  .main-timeline8 .timeline:last-child{margin:0!important}
  .main-timeline8 .timeline-icon{right:auto;left:-14.5px}
  .main-timeline8 .year{border-radius:50px 0 0 50px}
  .main-timeline8 .year:before{border-left:none;border-right:35px solid transparent;left:auto;right:0}
  .main-timeline8 .timeline-content{margin:0 35px 0 45px}
}
.span {
  padding: 20px;
}
